h1 {
    color: darkred;
    font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
}
body {
    background-color: aliceblue;
}

table {
    border-collapse: collapse;
}

table, tr, th {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}